/* These css properties are to make sure:
    1) The whole review gets displayed
    2) The date is set positioned in the upper-right corner (setting li relative)
*/
li.mdl-list__item--three-line {
    position: relative;
    min-height: 88px;
    height: auto;
}

.mdl-list__item--three-line span.mdl-list__item-primary-content {
    min-height: 52px;
    height: auto;
}

/* Make sure the contrast is high enough for input labels */
label.mdl-textfield__label {
    color: rgb(118,118,118);
    opacity: 1;
}
